rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Users can only write to their own directory. Public read access is granted to authenticated users.
    match /users/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Reels can be created by the authenticated user and are publicly readable by any authenticated user.
    match /reels/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}
